.fab {
	border-radius: 50%;
	bottom: 25px;
	font-size: 30px;
	padding: 10px 20px;
	position: fixed;
	right: 25px;
}

.fabDelete {
	border-radius: 50%;
	bottom: 25px;
	font-size: 30px;
	padding: 10px 20px;
	position: fixed;
	right: 100px;
}
